<!DOCTYPE html>
<html>
  <head>
    <title>Tricket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track':'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track':'reload' %>
  </head>


  <body>
  <!-- nab --> <!-- レスポンシブ対応とハンバーガーが必要 -->
  <% if user_signed_in? %>
    <div class="nav-container">
      <%= link_to "Tricket", users_path, class: "nav-brand" %>
      <div class="nav-list">
          <%= link_to "User", user_path(current_user), class: "glyphicon glyphicon-user nav-list-item" %>
          <%= link_to "Travellers", users_path, class: "glyphicon glyphicon-home nav-list-item" %>
          <div id="to_aboutus" class="glyphicon glyphicon-comment nav-list-item">About</div>
          <%= link_to "Return", destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-time nav-list-item" %>
      </div>
    </div>
  <% else %>
    <div class="nav-container">
      <%= link_to "Tricket", root_path, class: "nav-brand"%>
      <div class="nav-list">
          <%= link_to "Home", root_path, class: "glyphicon glyphicon-home nav-list-item" %>
          <div id="to_aboutus" class="glyphicon glyphicon-comment nav-list-item">About</div>
          <%= link_to "Passport", new_user_registration_path, class: "glyphicon glyphicon-pencil nav-list-item" %>
          <%= link_to "Deperture", new_user_session_path, class: "glyphicon glyphicon-globe nav-list-item" %>
      </div>
    </div>
  <% end %>
  <!-- 固定nabのためのspace -->
  <div class="space" style="height: 50px; display: block; top: 0;"></div>

    <%= yield %>

  <!-- footerのためのspace -->
  <div class="space" style="height: 50px; display: block; bottom: 0;"></div>
  <footer>
      <p>© All rights reserved by Tricket.Inc</p>
  </footer>
  </body>
</html>
